doctype
html(lang='pt-br')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="style/style.css", attr)
    title Calculadora - Leandro Viana
  body
    header
      p Calculator made with 
        i.fab.fa-js-square(style="color: #F7DF1E;")  
        |  and  
        i.fas.fa-heart(style="color: #ff5555;") 
        |  by 
        a.link-leandro(href="https://leandrocodes.com.br" target="_blank") Leandro Viana
    
    div.calculator
      div.visor
      
    
    script(src="https://kit.fontawesome.com/ac8cf42b03.js")