doctype
html(lang='pt-br')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="style/style.css", attr)
    title Calculadora - Leandro Viana
  body
    div.calculadora
      header
        p Calculator made with 
          i.fas.fa-heart 
          |  and  
          i.fab.fa-js-square(style="color: yellow;")  
          |  by 
          a.link-leandro(href="https://leandrocodes.com.br" target="_blank") Leandro Viana
      
    
    script(src="https://kit.fontawesome.com/ac8cf42b03.js")