doctype
html(lang='pt-br')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="style/style.css", attr)
    title Calculadora - Leandro Viana
  body
    div.calculadora
      | calculadora